<% provide :title, (t ".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <em><%= link_to (t ".pLinkRail"), (t ".linkRail") %></em>
  <%= t ".p2" %>
  <%= link_to (t ".pLinkBook"), (t ".linkBook") %>
  <%= t ".p3" %>
  <%= link_to (t ".pLinkSCat"), (t ".linkCat") %>
  <%= t ".p4" %>
  <%= link_to (t ".pLinkRail2"), (t ".linkRail") %>
  <%= t ".p5" %>
  <%= t ".eng" %>
</p>
