<% provide :title, (t ".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to (t ".pLinkHelp"), (t ".linkHelp") %>
  <%= t ".p2" %>
  <em><%= link_to (t ".pLinkBook"), (t ".linkBook") %></em>
</p>
