<h1><%= t ".title" %></h1>

<p>
  <%= t ".p1" %>
  <%= @user.name %>
  <%= t ".p2" %>
</p>

<p>
  <%= t ".p3" %>
</p>

<%= link_to t(".link_activate"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
