<footer class="footer">
  <small>
    <%= t ".p1" %>
    <%= link_to (t ".pLinkRails"), (t ".linkRails") %>
    <%= t ".p2" %>
    <%= link_to (t ".pLinkMichael"), (t ".linkMichael") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t ".pLinkAbout"),   about_path %></li>
      <li><%= link_to (t ".pLinkContact"), contact_path %></li>
      <li><%= link_to (t ".pLinkNew"), (t ".linkNew") %></li>
    </ul>
  </nav>
</footer>
