<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".link_app"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".link_home"), root_path %></li>
        <li><%= link_to t(".link_help"), help_path %></li>
        <li><%= link_to t("lang.eng"), locale: :en %></li>
        <li><%= link_to t("lang.viet"), locale: :vi %></li>
        <li><%= link_to t(".link_log"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
