<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %><%=t "app.supt2" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= link_to (t "lang.eng"), locale:"en" %>
    <%= link_to (t "lang.viet"), locale:"vi" %>
    <%= yield %>
  </body>
</html>
