<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render (t "layout.shim") %>
  </head>

  <body>
    <%= render (t "layout.header") %>
    <div class="container">
      <%= yield %>
      <%= render (t "layout.footer") %>
    </div>
  </body>
</html>
